:root {
  --main-bg-color: #fef7b4;
  --secondary-bg-color: #f2f0f0;
  --main-contrast-color: #6fdcbf;
  --secondary-contrast-color: #86f7d9;
  --main-text-color: #52525b;
  --font-family: "Courier New", "Roboto", "Oxygen", sans-serif;
  --content-max-width: 500px;
  --content-min-width: 334px;
  scrollbar-color: #6fdcbf #6fdcbf;
}

body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: var(--main-text-color);
  font-family: var(--font-family);
}

p {
  margin: 10px;
  font-family: var(--font-family);
}

.main-container {
  display: grid;
  grid-template-rows: 400px 1fr;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  padding: 20px;
}
