.outer-container {
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  border: 1px solid black;
  box-shadow: 8px 8px black;
  align-self: center;
  max-width: var(--content-max-width);
  min-width: var(--content-min-width);
  justify-self: center;
  width: 100%;
}
.form-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
